---
---

<div class="footer">
    <div class="container">
        <div class="footer-content">
            <p>&copy; {new Date().getFullYear()} Bruno Bispo - Design by <a href="https://dribbble.com/laviniamelo">Lavinia Melo</a>.</p>
        </div>
    </div>
</div>

<style>
    .footer {
        margin-top: 10%;
        background-color: #1a222d;
        color: #fff;
        padding: 20px 0;
        text-align: center;
    }
    .footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-content {
        max-width: 800px;
        width: 100%;
    }

    .footer-content a {
        color: white;
        text-decoration: none;
        transition: color 0.3s ease;
    }
    .footer-content a:hover {
        color: #78d7d5;
        text-decoration: underline;
    }

</style>