---
import enMessages from '../messages/en.js';
import ptMessages from '../messages/pt-br.js';

const locale = Astro.url.pathname.startsWith("/pt-br") ? "pt-br" : "en";
const messages = locale === 'pt-br' ? ptMessages : enMessages;

const menuItems = [
    { name: messages.menu.about, link: `/#about` },
    { name: messages.menu.skills, link: `/#skills` },
    { name: messages.menu.projects, link: `/#projects` },
    { name: messages.menu.contact, link: `/#contact` },
];
---

<header>
    <h1 class="logo"><span class="highlight">&lt;/</span> Bruno Bispo <span class="highlight">&gt;</span></h1>
    <nav aria-label="Menu de navegação principal" class="nav">
        <ul>
            {menuItems.map(item => (
                <li>
                    <button class="tabs" onclick={`window.location.href='${item.link}'`} aria-label={`Ir para ${item.name}`} role="menuitem">{item.name}</button>
                </li>
            ))}
        </ul>
    </nav>
</header>

<style>

    @font-face {
		font-family: 'Varino-Normal';
		src: url('/fonts/Varino-Normal.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

    header {
        display: flex;
        justify-content: space-between;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #202733;
        z-index: 1000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    }
    nav {
        padding: 1rem;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 3rem;
        align-items: flex-end;
        justify-content: flex-end;
        margin-right: 3%;
    }

    .logo {
        font-family: 'Varino-Normal', serif;
        font-size: 1.5rem;
        color: white;
        padding: 1rem;
        margin-left: 3%;
    }

    .highlight {
        color: #78d7d5;
    }

    .tabs {
        font-size: 1.5rem;
        color: white;
        opacity: 0.7;
        background: none;
        border: none;
        cursor: pointer;
        position: relative;
        text-decoration: none;
        transition: color 0.3s, opacity 0.3s;
    }

    .tabs:hover {
        opacity: 1;
    }

    .tabs::after {
        content: '';
        position: absolute;
        height: 3px;
        left: 0;
        bottom: -5px;
        width: 0;
        background: #78d7d5;
        transition: width 0.3s;
    }

    .tabs:hover::after {
        width: 60%;
        cursor: pointer;
    }
    @media screen and (max-width: 768px) {
        header{
            flex-direction: column;
            align-items: center;
        }
        .nav {
            display: none;
        }
        
    }
    
</style>